{% extends "authentication/layout.html" %}

{% block body %}

    <h1 class="my-3">Contact List</h1>

    {% if teams|length == 1 and teams.first.name == username %}
        <p class="my-3">Noone else in your team.</p>
    {% else %}
    <div class="row row-cols-2 row-cols-md-4 g-4 my-3">
        {% for team in teams %}
            {% if team.name != username%}
                <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ team.name }}</h5>
                        <p class="card-text">{{ team.title }}</p>
                    </div>
                </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}