{% extends "authentication/layout.html" %}

{% block body %}

    <h1 class="my-3">Resources</h1>

    {% if user.is_staff or user.is_superuser %}
    <a href="{% url 'add_resource' %}" role="button" class="btn btn-primary">+ Add resource</a>
    {% endif %}

    {% if not categories %}
        <p class="my-3">No resource added.</p>
    {% else %}
    <div class="row row-cols-1 row-cols-md-2 g-4 my-3">
    <!-- Cards for Company & Handbook -->
        {% for category in categories %}
          {% if category != 'training' %}
            <div class="col">
              <div class="card">
                <div class="card-body d-flex justify-content-center">
                  <a href="{% url 'category_items' category %}" class="card-title text-decoration-none h5">{{ category|upper }}</a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
    <!-- Card for First Contacts -->
            <div class="col">
              <div class="card">
                <div class="card-body d-flex justify-content-center">
                  <a href="{% url 'contact_list' %}" class="card-title text-decoration-none h5">FIRST CONTACTS</a>
                </div>
              </div>
            </div>
    <!-- Card for Training -->
            <div class="col">
              <div class="card">
                <div class="card-body d-flex justify-content-center">
                  <a href="{% url 'training_video' %}" class="card-title text-decoration-none h5">TRAININGS</a>
                </div>
              </div>
            </div>
    </div>
    {% endif %}
{% endblock %}